#nav1{
    // background: linear-gradient(to right,rgb(124, 246, 195),rgb(184, 229, 255));
    background-color: transparent;
}

#nav1 a{
    .navbar a {
        color: white;
        text-decoration: none;
      }
}