<!-- <div class="my-container mx-auto border border-dark">
    <div class="row g-0"> -->

        <!-- Profile Image of Product -->
        <!-- <div class="col-4 p-4">
            <div class="d-flex justify-content-center align-items-center">
                <div *ngFor="let product of products" class="product">
                <img [src]="product.image"
                     alt="" class="w-100">
            </div> -->

            <!-- <div class="image-thumbnails mt-4 d-flex justify-content-between align-items-center">
                <img src="assets/images/mobiles/10/1.jpg"
                     alt="Thumbnail Image" >
                <img src="assets/images/mobiles/10/2.jpg"
                     alt="Thumbnail Image" (click)="imageIndex = 2">
                <img src="assets/images/mobiles/10/3.jpg"
                     alt="Thumbnail Image" (click)="imageIndex = 3">
                <img src="assets/images/mobiles/10/4.jpg"
                     alt="Thumbnail Image" (click)="imageIndex = 4">
                <img src="assets/images/mobiles/10/5.jpg"
                     alt="Thumbnail Image" (click)="imageIndex = 5"> 
            </div> -->
        <!-- </div>
    </div> -->
        <!-- Details of Product -->
        <!-- <div class="col-8 p-4">
            <div class="card" *ngFor="let product of products">
                <div class="card-header">
                    <h2>{{ product.title }}</h2>
                </div>

                <div class="card-body">
                    <h1 class="card-title text-success">
                        Final Price
                        <span class="text-primary">-20%</span>
                    </h1>
                    <h4 class="card-subtitle text-danger text-decoration-line-through">
                        Original Price
                    </h4>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle my-2 text-primary"> 11 products are available. </h6>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-success">Add to Cart  -->
                            <!-- <span >(Login First)</span> -->
                    <!-- </button>
                    </div>
                </div>
                <div *ngFor="let product of products" class="product">

                    <div class="card-body">
                        <h5 class="card-text">Description</h5>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action" >
                                {{ product.description }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->

    <!-- Suggested Products or related product show honge-->
    <!-- <div class="row g-0">
        <div class="col-12 ps-5 pt-4 pb-3">
            <h3 class="border border-secondary text-center py-2 my-rounded-corner w-25">Related Products</h3>
        </div>

        <div class="col-12">
            <app-suggested-products ></app-suggested-products>
        </div>
    </div> -->
<!-- ---------------------------------------------------------------------------------------- -->

    <div class="container mt-5" *ngIf="product">
        <div class="row">
          <div class="col-md-3">
            
            <img [src]="product.image" class="img-fluid" alt="{{ product.title }}">
      
          </div>
          <div class="col-md-6">
            <h1 class="card-header fw-bold fs-5 text-success">{{ product.title }}</h1>
            <p>{{ product.description }}</p>
            <p>Quantity: {{ product.quantity }}</p>
            <p>Original Price: ₹{{ product.originalPrice }}</p>
            <p>Discount: ₹{{ product.discount }}</p>
            <p>Discounted Price: ₹{{ product.originalPrice - product.discount }}</p>

            <button >Back</button>
          </div>
        </div>
      </div>


      
