<!-- <div class="grid-view" *ngIf="view === 'grid'" > -->
    <div class="container">
<!-- 
        <div class="card text-center " > -->
       

                <div *ngFor="let product of products" class="product" >
                    
                    <div class="card-header fw-bold fs-5 text-success">
                {{ product.title }}
            </div>
            
            <div class="overflow-hidden d-flex justify-content-center align-items-center">
                <img [src]="product.image" alt="{{ product.title }}" class="card-img-top p-4" (click)="viewProductDetails(product.id)">
                </div>

                <div class="card-body">
                    <h5 class="card-title title">{{ product.title }}</h5>
                <h6 class="card-subtitle my-2 text-primary">Available Quantity: {{ product.quantity }} </h6>
                <p class="card-text description">{{ product.description }}</p>
            </div>

            <div class="card-body">
                <h5 class="card-title text-success">Final Price:₹{{ product.finalPrice }}
                    <span class="text-pri ary">-20%</span>
                </h5>
                <h6 class="card-subtitle text-danger text-decoration-line-through">
                    Original Price:₹ {{ product.originalPrice }}
                </h6>
            </div>
            
            <div class="card-footer d-grid gap-2">
               

                    <button type="button" class="btn btn-outline-success">
                        
                        Add to Cart
                        
                    </button>
            
            </div>
        </div>
            
   
    </div>
        
        
    <!-- </div> -->
    <!-- </div> -->

<!-- <div class="list-view" *ngIf="view === 'list'">
    <div class="card" *ngFor="let product of products">
        <div class="row">
            <div class="col-md-4 overflow-hidden d-flex justify-content-center align-items-center">
                <img [src]="product.image" alt="{{ product.title }}" class="img-fluid rounded-start p-5"
                    appOpenProductsDetails [productId]="1">
            </div>
            <div class="col d-flex flex-column">
                <div class="card-header text-center">
                    Header
                </div>

                <div class="card-body">
                    <h5 class="card-title title">Title </h5>
                    <p class="card-text description">Description </p>
                    <h6 class="card-subtitle mb-3 text-primary">11 products are available. </h6>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-muted">Pricing</h4>
                    <h2 class="card-title text-success">
                        Final Price
                        <span class="card-subtitle mb-3">-20</span>
                    </h2>
                    <h5 class="card-subtitle text-danger text-decoration-line-through">
                        Original Price
                    </h5>

                    <div class="card-footer text-muted d-grid gap-2 ">
                        <button type="button" class="btn btn-outline-success ">
                            Add to Cart

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Cart Item View -->
    <!-- <div class="cart-item-view" *ngIf="view === 'currcartitem'">
  <div class="card">
      <div class="row g-0">

          <div class="col-4 overflow-hidden d-flex justify-content-center align-items-center">
              <img src="../../assets/Images/{{product.productCategory.subCategory}}/{{product.id}}/1.jpg"
                   class="img-fluid rounded-start" alt="Product Image" OpenProductDetails [productId]="product.id">
          </div>
          <div class="col-8">
              <div class="card-body">
                  <h5 class="card-title title"> {{product.title}} </h5>
                  <h5 class="card-title text-success">
                      {{utilityService.applyDiscount(product.price, product.offer.discount)}}
                      <span class="text-primary"> -{{product.offer.discount}}% </span>
                  </h5>
                  <h6 class="card-subtitle text-danger text-decoration-line-through">
                      {{ product.price }}
                  </h6>
              </div>
          </div>

      </div>
  </div>
</div>

<div class="cart-item-view" *ngIf="view === 'prevcartitem'">
  <div class="card text-center">

      <div class="overflow-hidden d-flex justify-content-center align-items-center">
          <img src="../../assets/Images/{{product.productCategory.subCategory}}/{{product.id}}/1.jpg" alt=""
               class="card-img-top" OpenProductDetails [productId]="product.id">
      </div>

      <div class="card-body">
          <h5 class="card-title title"> {{product.title}} </h5>
      </div>
  </div>
</div> -->