<div class="my-container mx-auto">

    <div class="mb-4 my-shadow my-rounded-corner overflow-hidden" >
        <div class="product-baner position-relative">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>

            <img src="assets/images/banners/boatwp.webp" class="w-100" alt="Baner">
        </div> 

        <div class="product-list py-5 container-fluid d-flex justify-content-around align-items-center">
           <!-- <app-suggested-products ></app-suggested-products> -->
           <app-products></app-products>
        </div> 
    </div>

</div>