<div class="my-container mx-auto border-dark">
<div class="p-4 border my-rounded-corner">
<h3 class="w-25 border text-center py-2 my-rounded-corner">Current Cart</h3>

<div class="mt-5">

    <h1 class="container" style="color: red;">No items in this cart</h1>
<!-- <div class="d-grid w-50 mx-auto mb-3">
    <button class="btn btn-outline-success fs-4" type="button">Order</button>
</div> -->

<!-- <table class="table w-50 mx-auto table-bordered table-hover my-shadow">
    <tbody>
        <tr>
            <td>Total Items</td>
            <td class="fs-5 fw-bold">5 Items</td>
        </tr>
        <tr>
            <td>Total Price</td>
            <td class="fs-5 fw-bold text-danger">10,000 </td>
        </tr>
        <tr>
            <td>Shipping Charges</td>
            <td class="fs-5 fw-bold text-danger">1,000</td>
        </tr>
        <tr>
            <td>Discount</td>
            <td class="fs-5 fw-bold text-success">200</td>
        </tr>
        <tr>
            <td>You Have to Pay</td>
            <td class="fs-5 fw-bold text-danger">10,800</td>
        </tr>
    </tbody>

</table> -->
</div>
<div class="current-crt-items w-75 mx-auto mt-5">
    <h4> Cart Items</h4>
<!-- <div class="row mt-4 g-0">
    <div class="col-6 py-3 px-2" *ngFor="let cartItem of [1,1,1,1,1]"> -->
        <app-products ></app-products>
    <!-- </div>
</div> -->
</div>
</div>